.table-modal{
	.ivu-modal-footer{
		padding: 0;
		border: 0;
	}
}
.modal-header-row{
	margin: 0 20px 20px 0;
}

.ivu-card {
	.ivu-card-head {
		.ivu-btn-text {
			padding: 0;
			font-size: 14px;
			font-weight: 700;
		}
		.ive-btn-text:hover {
			color: #495060;
		}
	}
	.ivu-card-extra {
		.ivu-btn-text {
			padding: 0;
			font-size: 14px;
		}
	}
	.ivu-card-body {
		.ivu-form-item {
			.ivu-form-item-content {
				img {
					width: 100%;
					height: auto;
					margin-top: 10px;
				}
				input {
					height: 30px;
					width: 100%;
				}
				.ivu-select {
					height: 30px;
				}
				.ivu-input-number {
					height: 30px;
					width: 150px;
				}
				.ivu-btn-text {
					padding: 0;
				}
			}
		}
	}
}
