$primary-color: #0457A2;
$sub-color: #DFDFDF;
$primary-text-color: #3D3D3D;
$sub-text-color: rgba(68,68,68,0.6);
$disabled-color: #DFDFDD;
$background-color: #F8F8F8;
$error-color: rgba(208,2,27,0.8);
$success-color: #00B294;


$min-width: 1024px;
$max-width: 1440px;

$login-title-font-size: 18px;
$login-title-font-weight: 700;
$login-title-color: $primary-color;
$login-background-image: url("../assets/imgs/login-background.png");

$menu-background-color: #3D3D3D;
$menu-item-active-color: #4DAED7;
$menu-item-color: rgba(255,255,255,.7);
$menu-height: 64px;
$menu-font-size: 15px;
$menu-font-weight: 500;
$menu-padding: 0 10px;
$sub-menu-padding: 0 15px;

$content-padding: 0 4.17% 20px 4.17%;
$content-header-height: 64px;

$breadcrumb-height: 64px;
$breadcrumb-font-size: 18px;
$breadcrumb-font-weight: 700;

$table-cell-padding: 0 5px;
